

.PageButton{
    margin: 0.8vw;
    padding: 0.5vw;
    font-weight: bold;
    font-size: larger;
    color: #68f267;
    border: #68f267 solid 2px;
    border-radius: 20px;
    text-decoration: none;

}